@CHARSET "ISO-8859-1";

    @font-face {
      /* Medium */
      font-family: "Didact GothicMedium";
      src: local('Didact GothicMedium'), url( #{resource['style:DidactGothic.otf']} ) format('opentype');
      font-weight:  500;
      font-style:   normal;
      font-variant: normal;
      font-stretch: normal;
    }

    @font-face {
      /* Regular */
      font-family: "Nova Font FamilyRegular";
      src: local('Nova Font FamilyRegular'), url( #{resource['style:NovaSquare.ttf']} ) format('truetype');  
      font-weight:  400;
      font-style:   normal;
      font-variant: normal;
      font-stretch: normal;
    }
    
    .fontedText, .fontedHeader{
        font-family: 'Didact GothicMedium';
    }
    
    .reflectedText
    {
        -webkit-box-reflect: below 1px -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(255, 255, 255, 0.179688))) 0 0 0 0 stretch stretch;
        text-shadow: rgba(0, 0, 0, 0.5) 0 5px 5px;
    }